@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: Montserrat;
}

.main{
    height:820px;
    margin:10px;
    display: grid;
    justify-content: center;
    
}
body {
    background: linear-gradient(135deg, #081e4e, #76bec8, #0b89a2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.container{
    height:85%;
    width:500px;
    margin-top:30px;
    background: linear-gradient(135deg, #01205a, #4255d2);
    border-radius: 10px;
}
.nav{
    height: 15%;
    margin-left:-20px;
    margin-top:10px;
    display: flex;
}
input{
    margin-top:15px;
    margin-left:45px;
    border-radius: 50px;
    border:none;
    padding:15px 150px 25px 15px;
    font-size: 20px;
}

.nav img{
    margin-top:10px;
}

button{
    height:70px;
    width:70px;
    border-radius: 70px;
    border: none;
    margin-top:10px;
    margin-left:20px;
    cursor: pointer;
}
.htw{
    text-align: center;
    color:azure;
    font-size: 40px;
    font-weight: bold;
}


.img {
    margin-left:150px;
    margin-top:-30px;
}

.degree{
    text-align: center;
    font-size: 45px;
    margin-top:-15px;
    color:rgb(239, 230, 219);
}
.city{
    text-align: center;
    font-size: 45px;
    margin-top:20px;
    color:rgb(239, 230, 219);
}

.details{
    margin-top:50px;
    display: flex;
    justify-content:space-around;
}

.col{
    display: flex;
    justify-content: center;
    color: beige;
    font-size: 20px;
}

.col img{
    width:45px;
    margin-right:10px;
}


.weather{
    display: none;
}

.apiclass{

    color:azure;
    font-size: 25px;
    margin-top:30px;
    display: flex;
    justify-content: center;

}

.scale{
    text-align: right;
    background-color: azure;
    padding-right:30px;
    font-weight: bold;
}